---
version: 2

updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "06:00"
      timezone: "Europe/Oslo"
    groups:
      all-dependencies:
        patterns:
          - "*"
    open-pull-requests-limit: 5
